.jumbotron{
   background-color: white;
   color: black;
   margin-left: 10px;
 }




}

.img-fluid{
	max-width: 100%;
	height: auto;
}


.imagenes-style{
	
	padding: : 25px
	width: 100%
	height: 100px;
}

.btn{

   background-color: black;
   color: white;
   border-color: black;
}
.btn-primry {

	background-color: black;
	color: white;
	border-color: black;

}
.card-modelos{
	flex-wrap: 1  100px;
	margin-top: 0px;
	padding: 5px 2px 5px 2px
	margin-bottom: 40px;

}	

	

}
.footer-social-icon{
	padding-right: 10px;
}

.footer-pagos-icon{
	padding-right: 10px;
}	
.breadcrumb-style{
	background-color: white;

}
.brand-style{
	background-color: white;
	color: white;
}

.contido-inicio{
	padding: 5px 5px 0 5px
	margin-right: 1px;
	margin-left: 5px;
}
.color-checkbox{
	background: black;
}
 
 footer {
    
    background-color: white;
    color: black;
    margin-bottom: : 0px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}